Trend Analysis 

1.For the 576 unique players the great majority are male, representing just over 84% of the user base, brining in the greatest total purchase amount as a group. However, on average males tend to spend the least in total purchases per person. With Other/ Non-Disclosed individuals brining in the greatest average purchase total per person, but representing the smallest user base and least total purchase value as a group.

2.The age demographic of users follows a fairly symmetrical distribution with a sharp peak at 20-24, and the tail being slightly longer on the right side for the older age base. 

3.The top 2 most popular games (1.Final Critic, 2.Oathbreaker) are also the most profitable. Interestingly Nirvana is the 3rd most profitable game due to its higher price point, but does not make the top 5 most popular.

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#File to Load
fpath = "../Resources/purchase_data.csv"
#Reading and storing of file into pandas
purchase_df = pd.read_csv(fpath)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Total num of unique players
users_df = purchase_df.loc[:,["SN","Age"]]
users_df = users_df.drop_duplicates()
player_count = users_df.drop_duplicates()
player_count = player_count.SN.count()
#create dataframe
summary_df= pd.DataFrame({'Total Players': [player_count]})
summary_df

   Total Players
0            576

In [4]:
#count number of unique items
number_of_unique_items = purchase_df['Item Name'].nunique()
number_of_unique_items
#calculate average price
average_price= purchase_df.Price.mean()
average_price
#count number of purchases
num_purchases= purchase_df['Purchase ID'].count()
num_purchases
#sum total revenue
total_revenue=purchase_df.Price.sum()
total_revenue
#place data in data frame and clean format
summary1_df= pd.DataFrame({'Number of Unique Items':[number_of_unique_items],
                          'Average Price':[average_price],
                          'Number of Purchases':[num_purchases],
                          'Total Revenue':[total_revenue]})
#Print with formatting
summary1_df.style.format({"Average Price":"${:.2f}",
                          "Total Revenue":"${:,.2f}"})

In [5]:
#gender demographics
#percentage and count of male players
gender_count = purchase_df.groupby("Gender")
total_gender = gender_count.SN.nunique()
gender_percent = total_gender / player_count *100
gender_df = pd.DataFrame({'Total Count':total_gender,
                          'Percentage of Players':gender_percent})
gender_df
#update formattig of dataframe
gender_df.sort_values(["Total Count"],ascending=False).style.format({"Percentage of Players":"{:.2f}%"})

In [6]:
#purchase analysis (gender)
gender_count = purchase_df.groupby(["Gender"]).Price.count()
gender_avg = purchase_df.groupby(["Gender"]).Price.mean()
gender_purchase_total = purchase_df.groupby(["Gender"]).Price.sum()
avg_per_person = gender_purchase_total / gender_df["Total Count"]
#dataframe file
gender_data = pd.DataFrame({"Purchase Count": gender_count,
                            "Average Purchase Price": gender_avg,
                            "Total Purchase Value": gender_purchase_total,
                            "Avg Total Purchase per Person": avg_per_person})
#place in dataframe and clean formatting
gender_data.style.format({"Purchase Count":"{:.0f}", 
                          "Average Purchase Price":"${:.2f}", 
                          "Total Purchase Value":"${:,.2f}",
                          "Avg Total Purchase per Person":"${:.2f}"
                         })

In [7]:
# bins
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999.99]
titles = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Categorize players using age bins
users_df["Age Ranges"] = pd.cut(users_df["Age"], bins, labels = titles)
# total count and percentage of players by age
age_demo_totals = users_df["Age Ranges"].value_counts()
age_demo_percents = age_demo_totals / player_count * 100
# make data file
age_demo = pd.DataFrame({"Total Purchase Count": age_demo_totals, "Percentage of Players": age_demo_percents})
#format and insert dataframe
age_demo.sort_index().style.format({"Percentage of Players":"{:.2f}%"})

In [8]:
#Purchase Analysis (Age)
#place purchase data into age bins
purchase_df["Age Ranges"] =pd.cut(purchase_df["Age"], bins, labels=titles)
#purchase count, avg. purch price, avg purch price per person, by age
age_total_purch=purchase_df.groupby(["Age Ranges"]).Price.sum()
age_count=purchase_df.groupby(["Age Ranges"]).Price.count()
age_avg_purch=purchase_df.groupby(["Age Ranges"]).Price.mean()
age_avg_per_person=age_total_purch/age_demo["Total Purchase Count"]
#create a data frame for age purchase analysis
age_data= pd.DataFrame({"Purchase Count":age_count,
                        "Average Purchase Price":age_avg_purch,
                        "total Purchase Value": age_total_purch,
                        "Avg Total Purchase per Person": age_avg_per_person
                       })
#format data frame and print it out
age_data.style.format({"Purchase Count":"{:.0f}",
                       "Average Purchase Price":"${:.2f}",
                       "total Purchase Value":"${:,.2f}",
                       "Avg Total Purchase per Person":"${:.2f}",})

In [9]:
#Top Spenders
#purchase count, avg purchase price, total purchase value
purchase_gb=purchase_df.groupby(["SN"])
purchase_count=purchase_gb.Price.count()
purchase_avg_price=purchase_gb.Price.mean()
purchase_total_value=purchase_gb.Price.sum()
#Make Data frame
top_spend_df=pd.DataFrame({"Purchase Count":purchase_count,
                          "Average Purchase Price":purchase_avg_price,
                          "Total Purchase Value":purchase_total_value
                         })
top_spend_df.sort_values("Total Purchase Value", ascending=False, inplace=True)
#Print first 5 rows with formatting
top_spend_df.head().style.format({"Purchase Count":"{:.0f}",
                          "Average Purchase Price":"${:.2f}",
                          "Total Purchase Value":"${:.2f}",})

In [10]:
#Most Popular items
item_df=purchase_df[["Item ID","Item Name", "Price"]]
item_gb=item_df.groupby(["Item ID","Item Name"])
purchase_item=item_gb.Price.count()
total_item=item_gb.Price.sum()
price_item=item_gb.Price.mean()
#create a data frame for most popular items
item_df=pd.DataFrame({"Purchase Count":purchase_item,
                      "Item Price":price_item,
                      "Total Purchase Value":total_item})
#sort the data frame in descending order
item_df.sort_values("Purchase Count", ascending=False, inplace=True)
#Print first 5 rows with formatting
item_df.head().style.format({"Purchase Count":"{:.0f}",
                      "Item Price":"${:.2f}",
                      "Total Purchase Value":"${:.2f}",})

In [11]:
#Most Profitable Items
item_df=purchase_df[["Item ID","Item Name", "Price"]]
item_gb=item_df.groupby(["Item ID","Item Name"])
purchase_item=item_gb.Price.count()
total_item=item_gb.Price.sum()
price_item=item_gb.Price.mean()
#create data frame for most profitable items
item_df=pd.DataFrame({"Purchase Count":purchase_item,
                      "Item Price":price_item,
                      "Total Purchase Value":total_item})
#sort the data frame in ascending order
item_df.sort_values("Total Purchase Value", ascending=False, inplace=True)
#Print first 5 rows with formatting
item_df.head().style.format({"Purchase Count":"{:.0f}",
                             "Item Price":"${:.2f}",
                             "Total Purchase Value":"${:.2f}"})